body{
    font-family: 'Roboto', sans-serif;
    background-color:whitesmoke;
    margin: 0;
    padding:0;
}

/* >> Top Banner Portion Starts Here>> */
.container{
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    color: azure;
    border-radius: 15px;
    width: 85%;
    height: 500px;
    margin-top: 95px;
    margin-left: 100px;
    margin-right: 120px;
    shadow:(0px 4px 4px rgba(0, 0, 0, 0.25));
    image-orientation: right;
}
.top-banner{
    width: 40%;
    position: relative;
    right:2%;
    padding:5px;
}
.header-1 {
    position: absolute;
    top: 160px; ;
    left: 28%;
    transform: translate(-50%, -50%);
    font-size: 370%;
    margin-top: 100px;;
    color: azure}

        .paragraph-1 {
            position: relative;
            top: 103%;
            right: 60px;
            transform: translate(-50%, -50%);
            font-size: medium;
            color: azure;
            font-weight: 550;
        }
        
        .button{
            display: flex;
            flex-direction: row;
        }
.link-button {
    position: absolute;
    text-decoration: none;
    justify-content:space-between;
    align-content: flex-start;
    Top: 80%;
    right:820px;
    font-size: larger;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(rgba(166, 9, 9, 0.865), rgb(235, 16, 16));
    color: white;
    padding: 10px 45px;
    border-radius: 2px;
    font-size: medium;
}
.play {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 27%;
    top:79%;
    left: auto;
    width: 0
}
.button :hover{
    background-color:lightsteelblue;
        color: #272727;
    
}

/* Navigation starts */
.container-2{
    display: flex;
flex-direction:column;
background-color: black;
width:20%;
    margin-left: 8%;
    margin-top: 5%;
    margin-right: 8%;
    margin-bottom: 5%;
    padding: 30px 30px 20px 20px;
    text-align: center;
    gap: 15px;
  border-radius: 5px;
}

    
.nav-button {
background-image: linear-gradient(red, tomato);
    text-decoration: none;
    margin: 5px 5px 5px 5px;
    padding:5px 5px 5px 5px;
    border-radius: 7px;

  }
  .nav-button a {
      text-decoration: none;
    color: azure;
    font-weight: 700;
font-size: 18px;}

.nav-button:hover {
    backgroung-image: (green, greenyellow);
}

.nav-button a:hover {
    color: black;
}

  









/* ----Footer Section Starts----->> */

.footer-container{
background-color: black;
margin-top: 90px;
    margin-left: 100px;
    margin-right: 120px;
    width:85%;
    border-radius: 5px;
    padding: 10px;
    height: 200px;
}

.footer-sec {
    text-align: center;
    
    color:white;
   
    
}

    ;
}
/* ----Footer Section Ends----->> */